.SignupPage {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.SignupPage .div {
    background-color: #ffffff;
    height: 645px;
    overflow: hidden;
    position: relative;
    width: 1470px;
}

.SignupPage .rectangle {
    height: 763px;
    left: 0;
    position: absolute;
    top: 0;
    width: 683px;
}

.SignupPage .overlap {
    height: 548px;
    left: 686px;
    position: absolute;
    top: -153px;
    width: 680px;
}

.SignupPage .group {
    height: 537px;
    left: 156px;
    position: absolute;
    top: 0;
    width: 366px;
}

.SignupPage .textWrapper {
    color: #00000080;
    font-family: "Cabinet Grotesk-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 243px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 548px;
    white-space: nowrap;
    width: 121px; 
}

.SignupPage .overlapGroupWrapper {
    height: 48px;
    left: 28px;
    position: absolute;
    top: 320px;
    width: 110px;
}
.SignupPage .signup button {
    background-color: #367387;
    border: 1px solid #ffffff26;
    border-radius: 5px;
    box-shadow: 0px 16px 32px #009ee21a;
    color: #ffffff;
    font-family: "Cabinet Grotesk-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 18px;
    padding: 15.5px 42.9px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
  }

.SignupPage .signup {
    color: #ffffff;
    font-family: "Cabinet Grotesk-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 41px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: 41px;
}

.SignupPage .overlap2 {
    height: 535px;
    left: 0;
    position: absolute;
    top: 0;
    width: 536px;
}

.SignupPage .overlapWrapper {
    height: 67px;
    left: 0;
    position: absolute;
    top: 317px;
    width: 364px;
}

.SignupPage input[type="text"] {
    border: 1px solid #367387;
    border-radius: 9px;
    height: 30px;
    padding: 8px;
  
    width: 340px; /* Adjust width as needed */
    font-family: "Cabinet Grotesk-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }
  .SignupPage input[type="email"] {
    border: 1px solid #367387;
    border-radius: 9px;
    height: 30px;
    padding: 8px;
  
    width: 340px; /* Adjust width as needed */
    font-family: "Cabinet Grotesk-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }
  .SignupPage input[type="password"] {
    border: 1px solid #367387;
    border-radius: 9px;
    height: 30px;
    padding: 8px;
  
    width: 340px; /* Adjust width as needed */
    font-family: "Cabinet Grotesk-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }
.SignupPage .group2 {
    height: 26px;
    left: 20px;
    position: absolute;
    top: 26px;
    width: 138px;
}

.SignupPage .textWrapper2 {
    color: #000000;
    font-family: "Cabinet Grotesk-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 31px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 105px;
}

.SignupPage .iconInstanceNode {
    height: 26px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 24px !important;
}

.SignupPage .divWrapper {
    height: 17px;
    left: 16px;
    position: absolute;
    top: 0;
    width: 52px;
}

.SignupPage .overlapGroup2 {
    background-color: #ffffff;
    height: 17px;
    position: relative;
    width: 50px;
}

.SignupPage .textWrapper3 {
    color: #367387;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
    white-space: nowrap;
    width: 41px;
}

.SignupPage .group3 {
    height: 67px;
    left: 0;
    position: absolute;
    top: 468px;
    width: 364px;
}

.SignupPage .group4 {
    height: 17px;
    left: 16px;
    position: absolute;
    top: 0;
    width: 62px;
}

.SignupPage .overlapGroup3 {
    background-color: #ffffff;
    height: 17px;
    position: relative;
    width: 60px;
}

.SignupPage .textWrapper4 {
    color: #367387;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
    white-space: nowrap;
    width: 51px;
}

.SignupPage .group5 {
    height: 26px;
    left: 22px;
    position: absolute;
    top: 21px;
    width: 142px;
}

.SignupPage .img {
    height: 6px;
    left: 31px;
    position: absolute;
    top: 10px;
    width: 111px;
}

.SignupPage .group6 {
    height: 296px;
    left: 22px;
    position: absolute;
    top: 0;
    width: 514px;
}

.SignupPage .signup {
    color: #367387;
    font-family: "Cabinet Grotesk-Extrabold", Helvetica;
    font-size: 74px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    top: 213px;
    white-space: nowrap;
    width: 306px;
}

.SignupPage .section {
    height: 496px;
    left: 240px;
    position: absolute;
    top: 396px;
    width: 496px;
}

.SignupPage .signupWithEmail {
    color: #00000080;
    font-family: "Cabinet Grotesk-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 98px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 283px;
    white-space: nowrap;
    width: 111px;
}

.SignupPage .group7 {
    height: 67px;
    left: 0;
    position: absolute;
    top: 393px;
    width: 364px;
}

.SignupPage .groupWrapper {
    height: 19px;
    left: 68px;
    position: absolute;
    top: 610px;
    width: 225px;
}

.SignupPage .group8 {
    height: 19px;
    width: 227px;
}

.SignupPage .overlapGroup4 {
    height: 19px;
    position: relative;
    width: 225px;
}

.SignupPage .subtract {
    height: 1px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 225px;
}

.SignupPage .textWrapper5 {
    color: #000000;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 101px;
    letter-spacing: -0.28px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 22px;
}

.SignupPage .group9 {
    height: 95px;
    left: 28px;
    position: absolute;
    top: 655px;
    width: 307px;
}

.SignupPage .dontHaveAccount {
    color: #000000;
    font-family: "Cabinet Grotesk-Medium", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 85px;
    white-space: nowrap;
    width: 209px;
}

.SignupPage .span {
    font-weight: 500;
}

.SignupPage .textWrapper6 {
    font-family: "Cabinet Grotesk-Bold", Helvetica;
    font-weight: 700;
}

.SignupPage .googleLogoWrapper {
    background-color: #e6f1f4;
    border-radius: 9px;
    height: 57px;
    left: 0;
    position: absolute;
    top: 0;
    width: 95px;
}

.SignupPage .googleLogo {
    height: 25px;
    left: 36px;
    position: absolute;
    top: 12px;
    width: 24px;
}

.SignupPage .XMLIDwrapper {
    background-color: #e6f1f4;
    border-radius: 9px;
    height: 57px;
    left: 105px;
    position: absolute;
    top: 0;
    width: 95px;
}

.SignupPage .XMLID {
    height: 25px;
    left: 35px;
    position: absolute;
    top: 12px;
    width: 24px;
}

.SignupPage .iconAwesomeAppleWrapper {
    background-color: #e6f1f4;
    border-radius: 9px;
    height: 57px;
    left: 210px;
    position: absolute;
    top: 0;
    width: 95px;
}

.SignupPage .iconAwesomeApple {
    height: 25px;
    left: 37px;
    position: absolute;
    top: 12px;
    width: 20px;
}

.SignupPage .vector {
    height: 51px;
    left: 434px;
    position: absolute;
    top: 165px;
    width: 246px;
}

.SignupPage .untitledDesign {
    height: 171px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 631px;
    width: 190px;
}

.SignupPage .untitledDesign2 {
    height: 225px;
    left: 473px;
    object-fit: cover;
    position: absolute;
    top: 576px;
    width: 207px;
}

.SignupPage .envelope {
    height: 24px !important;
    left: -10px !important;
    position: absolute !important;
    top: 33px !important;
    width: 24px !important;
  }
  .SignupPage .lock {
    height: 24px !important;
    left: -10px !important;
    position: absolute !important;
    top: 33px !important;
    width: 24px !important;
  }
  .SignupPage .user {
    height: 24px !important;
    left: -10px !important;
    position: absolute !important;
    top: 33px !important;
    width: 24px !important;
  }