/* styles.css */

/* Base styles */
.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .text-greenish {
    color: #2cd885; /* Greenish text color */
  }
  
  .bg-greenish-light {
    background-color: #d5f3ef; /* Light greenish background */
  }
  
  /* Component styles */
  .story-section,
  .why-choose-us-section,
  .partners-section,
  .testimonials-section,
  .get-in-touch-section {
    margin-bottom: 2rem;
  }
  
  .story-section h1,
  .why-choose-us-section h1,
  .partners-section h1,
  .testimonials-section h1,
  .get-in-touch-section h1 {
    color: #2cd885; /* Greenish header color */
  }
  
  .testimonials-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  /* Responsive styles */
  @media (min-width: 768px) {
    .container {
      /* max-width: 768px; Adjust as needed */
      margin: 0 auto;
    }
  }
  