/* styles.css */

/* Base styles */
.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .text-greenish {
    color: #2cd885; /* Greenish text color */
  }
  
  .bg-greenish-light {
    background-color: #d5f3ef; /* Light greenish background */
  }
  
  /* Component styles */
  .story-section,
  .why-choose-us-section,
  .partners-section,
  .testimonials-section,
  .get-in-touch-section {
    margin-bottom: 2rem;
  }
  
  .story-section h1,
  .why-choose-us-section h1,
  .partners-section h1,
  .testimonials-section h1,
  .get-in-touch-section h1 {
    color      : black /* Greenish header color */
  }
  
  .testimonials-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  div.logos{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.logos > img{
    height: 150px;
  }
  div.partners-content{
    border-radius: 20px;
  }
  .customer-subtitle {
    font-size  : 2rem;
    font-weight: 500;
    color      : white;
    font-family: var(--subtitle-font-name);
    background-color: var(--secondary-color);
    width: max-content;
    padding: 0px 0.5rem;
    border-radius:  50px;
 }
 .story-section{
  margin-top: 40px;
 }
  
  /* Responsive styles */
  @media (min-width: 768px) {
    .container {
      /* max-width: 768px; Adjust as needed */
      margin: 0 auto;
    }
  }

  