.Icon{
  width: 26.6px;
  height: 26.6px;
  overflow: hidden;
  flex-shrink: 0;
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 22.14px;
  margin-right: 20px;
  padding-top: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 10.61px;
  align-items: center;
}

.column {
  display: flex;
  gap: 10px;
  /* flex-direction: row; */
  align-items: center;
  justify-content: flex-start;
}


.copyright {
  font-size: 12.18px;
  font-weight: 300;
  position: absolute;
  bottom: 10px;
  right: 20px;
}


.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 1470px; 
  background-color: var(--color-gray-100);
  text-align: left;
  font-size: 14.39px;
  color: var(--color-white);
  font-family: var(--netflix-sans-medium-26);
}
.link {
  color: var(--color-white);
  font-size: 14px;
  margin-bottom: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding-left: 50px;
}

.link:hover {
  color: var(--color-royalblue);
}
.logo{
  height: 110px;
  width: 200px;
  margin-top: -60px;
  margin-left: 50px;
}