.container {
  background-color: #ffffff; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container .div {
  background-color: #ffffff;
  height: 650px;
  position: relative;
  width: 1470px;
}

.container .rectangle {
  height: 763px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 683px;
}

.container .overlap {
  height: 648px;
  left: 686px;
  position: absolute;
  top: 75px;
  width: 680px;
}

.container .group {
  height: 537px;
  left: 156px;
  position: absolute;
  top: 0;
  width: 366px;
}

.container .textWrapper {
  color: #00000080;
  font-family: "Cabinet Grotesk-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 243px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 282px;
  white-space: nowrap;
}

.container .overlapGroupWrapper {
  height: 48px;
  left: 120px;
  position: absolute;
  top: 324px;
  width: 127px;
}

.container .login button {
  background-color: #367387;
  border: 1px solid #ffffff26;
  border-radius: 5px;
  box-shadow: 0px 16px 32px #009ee21a;
  color: #ffffff;
  font-family: "Cabinet Grotesk-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  padding: 15.5px 42.9px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.container .overlapWrapper {
  height: 63px;
  left: 0;
  position: absolute;
  top: 108px;
  width: 364px;
}

.container .overlap2 {
  height: 63px;
  position: relative;
}
.container .group2 {
  height: 24px;
  left: 20px;
  position: absolute;
  top: 24px;
  width: 138px;
}

.container input[type="email"] {
  border: 1px solid #367387;
  border-radius: 9px;
  height: 30px;
  padding: 8px;

  width: 340px; /* Adjust width as needed */
  font-family: "Cabinet Grotesk-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.container input[type="password"] {
  border: 1px solid #367387;
  border-radius: 9px;
  height: 30px;
  padding: 8px;

  width: 340px; /* Adjust width as needed */
  font-family: "Cabinet Grotesk-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.container .textWrapper2 {
  color: #000000;
  font-family: "Cabinet Grotesk-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 31px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.container .envelope {
  height: 24px !important;
  left: -10px !important;
  position: absolute !important;
  top: 33px !important;
  width: 24px !important;
}
.container .lock {
  height: 24px !important;
  left: -10px !important;
  position: absolute !important;
  top: 33px !important;
  width: 24px !important;
}

.container .divWrapper {
  height: 16px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 52px;
}

.container .overlapGroup2 {
  background-color: #ffffff;
  height: 16px;
  position: relative;
  width: 50px;
}

.container .textWrapper3 {
  color: #367387;
  font-family: "Poppins", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.container .group3 {
  height: 63px;
  left: 0;
  position: absolute;
  top: 195px;
  width: 364px;
}

.container .group4 {
  height: 16px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 62px;
}

.container .overlapGroup3 {
  background-color: #ffffff;
  height: 16px;
  position: relative;
  width: 60px;
}

.container .group5 {
  height: 24px;
  left: 20px;
  position: absolute;
  top: 24px;
  width: 142px;
}

.container .img {
  height: 5px;
  left: 31px;
  position: absolute;
  top: 9px;
  width: 111px;
}

.container .groupWrapper {
  height: 18px;
  left: 70px;
  position: absolute;
  top: 398px;
  width: 225px;
}

.container .group6 {
  height: 18px;
  width: 227px;
}

.container .overlapGroup4 {
  height: 18px;
  position: relative;
  width: 225px;
}

.container .subtract {
  height: 1px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 225px;
}

.container .textWrapper4 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 101px;
  letter-spacing: -0.28px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.container .group7 {
  height: 89px;
  left: 30px;
  position: absolute;
  top: 448px;
  width: 307px;
}

.container .dontHaveAccount {
  color: #000000;
  font-family: "Cabinet Grotesk-Medium", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  white-space: nowrap;
}

.container .span {
  font-weight: 500;
}

.container .textWrapper5 {
  font-family: "Cabinet Grotesk-Bold", Helvetica;
  font-weight: 700;
}

.container .googleLogoWrapper {
  background-color: #e6f1f4;
  border-radius: 9px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 95px;
}

.container .googleLogo {
  height: 24px;
  left: 36px;
  position: absolute;
  top: 11px;
  width: 24px;
}

.container .XMLIDwrapper {
  background-color: #e6f1f4;
  border-radius: 9px;
  height: 54px;
  left: 105px;
  position: absolute;
  top: 0;
  width: 95px;
}

.container .XMLID {
  height: 24px;
  left: 35px;
  position: absolute;
  top: 11px;
  width: 24px;
}

.container .iconAwesomeAppleWrapper {
  background-color: #e6f1f4;
  border-radius: 9px;
  height: 54px;
  left: 210px;
  position: absolute;
  top: 0;
  width: 95px;
}

.container .iconAwesomeApple {
  height: 24px;
  left: 37px;
  position: absolute;
  top: 11px;
  width: 20px;
}

.container .group8 {
  height: 77px;
  left: 29px;
  position: absolute;
  top: 0;
  width: 310px;
}

.container .textWrapper6 {
  color: #367387;
  font-family: "Cabinet Grotesk-Extrabold", Helvetica;
  font-size: 74px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.container .textWrapper7 {
  color: #00000080;
  font-family: "Cabinet Grotesk-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 98px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 66px;
  white-space: nowrap;
}

.container .rhino {
  height: 171px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 399px;
  width: 190px;
}

.container .flower {
  height: 225px;
  left: 473px;
  object-fit: cover;
  position: absolute;
  top: 349px;
  width: 207px;
}

.container .vector {
  height: 51px;
  left: 1120px;
  position: absolute;
  top: 18px;
  width: 246px;
}
