/* styles/Login.module.css */
.container {
  max-width: fit-content;
  height: 100%; 
  display: flex;
  

  
 
 }
.leftColumn {
  flex: auto;
  width: 1000rem;
  object-fit: fill;
 
   
  }

 .rightColumn {
  flex: 3000px; 
   
 
   background-color: #fffefe; /* Adjust the background color as needed */
 }
 .plane {
  max-width: 300%;
  margin-left: 360%;
  padding-top: 20px;
 }
 
 