/* styles/Login.module.css */
.container {
  width: 2080px;
  height: 720px; 
  display: flex;
  justify-content: left;
  align-items: left; 
  overflow: hidden; 
}
.leftColumn {
  flex: 1;
}

 .rightColumn {
  flex: 1;
  padding: 20px;
  background-color: #e0e0e0; /* Adjust the background color as needed */
 }
