.form {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 494px;
  }
  
  .form .div {
    align-items: center;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #aeaeae;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    position: relative;
    width: 494px;
  }
  
  .form .fullName {
    color: #aeaeae;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .form .phUser {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  /* Form.module.css */

.inputStyle {
  /* Add your styles for the input boxes here */
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
