@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm-6: 13.6px;

  /* Colors */
  --color-white: #fff;
  --color-darkgray: #aeaeae;
  --color-deepskyblue: #009ee2;
  --color-dimgray: #6b6b6b;
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.95);

  /* Paddings */
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-2xs-2: 10.2px;
  --padding-sm-6: 13.6px;
}